<div class="registration-container">
    <div class="registration-card">
      <div class="registration-header">
        <h2>Crear una cuenta Administrador </h2>
        <p>Complete el formulario para registrarse</p>
      </div>
  
      <form class="registration-form" [formGroup]="formulario_registro" (ngSubmit)="registrarAdministrador()" >
        <div class="form-columns">
          <div class="form-column">

            <h3>Información personal</h3>
            
            <div class="form-group">
              <p-float-label variant="on">
              <i class="pi pi-user input-icon"></i>
              <input type="text" id="on_label" autocomplete="off" pInputText
              formControlName="nombre_administrador"
              >
              <label for="on_label">Nombre Administrador</label>
              </p-float-label>  
            </div>

            <div class="form-group" *ngIf="formulario_registro.get('nombre_administrador')?.invalid && formulario_registro.get('nombre_administrador')?.touched">

                <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('nombre_administrador')?.errors?.['required']" >El nombre es obligatorio</p-message>
                <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('nombre_administrador')?.errors?.['maxlength']" >El nombre debe tener 255 caracteres como maximo</p-message>
            </div>



            <div class="form-group">
                <p-float-label variant="on">
                <i class="pi pi-user input-icon"></i>
                <input type="text" id="label_paterno" autocomplete="off" pInputText
                formControlName="apellido_paterno"
                >
                <label for="label_paterno">Apellido Paterno (opcional) </label>
                </p-float-label>  
              </div>


              <div class="form-group">
                <p-float-label variant="on">
                <i class="pi pi-user input-icon"></i>
                <input type="text" id="label_materno" autocomplete="off" pInputText
                formControlName="apellido_materno"
                >
                <label for="label_materno">Apellido Materno (opcional) </label>
                </p-float-label>  
              </div>

              <div class="form-group">
                <p-float-label variant="on">
                <i class="pi pi-phone input-icon"></i>
                <input type="text" id="label_telefono" autocomplete="off" pInputText
                formControlName="numero_telefonico"
                >
                <label for="label_telefono">Numero de Telefono</label>
                </p-float-label>  
              </div>
  
              <div class="form-group" *ngIf="formulario_registro.get('numero_telefonico')?.invalid && formulario_registro.get('numero_telefonico')?.touched">
  
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('numero_telefonico')?.errors?.['required']" >El Telefono es obligatorio</p-message>
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('numero_telefonico')?.errors?.['maxlength']" >El numero debe tener 10 digitos</p-message>
              </div>

              <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700 mb-1">Imagen de Perfil</label>
                <div class="flex items-center space-x-4">
                  <div class="relative">
                    <div class="h-24 w-24 rounded-full overflow-hidden bg-gray-100 border-2 border-teal-300 flex items-center justify-center">
                      <img *ngIf="imagen_preview" [src]="imagen_preview" alt="Vista previa" class="h-full w-full object-cover">
                      <svg *ngIf="!imagen_preview" xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                    </div>
                  </div>
                  <div class="flex-1">
                    <label for="perfil_admin" class="cursor-pointer inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 transition-all duration-300">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                      </svg>
                      Seleccionar imagen
                    </label>
                    <input id="perfil_admin" type="file" accept="image/*" (change)="subirImagen($event)" class="sr-only" />
                    <p class="mt-1 text-xs text-gray-500">JPG, PNG o JPEG </p>
                  </div>
                </div>
              </div>
           
          </div>
          
          <div class="form-column">
            <h3>Información de cuenta</h3>
            
            <div class="form-group">
                <p-float-label variant="on">
                <i class="pi pi-phone input-icon"></i>
                <input type="email" id="label_email" autocomplete="off" pInputText
                formControlName="email"
                >
                <label for="label_email">Email</label>
                </p-float-label>  
              </div>
  
              <div class="form-group" *ngIf="formulario_registro.get('email')?.invalid && formulario_registro.get('email')?.touched">
  
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('email')?.errors?.['required']" >El correo es obligatorio</p-message>
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('email')?.errors?.['email']" >Ingresa un correo valido</p-message>
              </div>


              <div class="form-group">
                <p-float-label variant="on">
                <p-password [toggleMask]="true" inputId="label_password"  formControlName="password"  />
                <label for="label_password">Password</label>
                </p-float-label>  
              </div>
  
              <div class="form-group" *ngIf="formulario_registro.get('password')?.invalid && formulario_registro.get('password')?.touched">
  
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('password')?.errors?.['required']" >El password es obligatorio</p-message>
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('password')?.errors?.['minlength']" >Minimo 4 caracteres</p-message>
                  <p-message severity="error" variant="simple" size="small" *ngIf="formulario_registro.get('password')?.errors?.['maxlength']" >Maximo 20 caracteres</p-message>

              </div>

              <div class="form-group">
                <p-float-label variant="on">
                    <p-select [options]="tiendas" optionLabel="nombre_tienda" class="w-full md:w-56"
                    optionValue="id"
                    formControlName="tienda_id" 
                    />
                    <label for="id">Seleccionar Tienda</label>
                </p-float-label>  
                </div>

                          
            
            <div class="form-group checkbox-group">
              <div class="checkbox-container">
                <input type="checkbox" id="acceptTerms">
                <label for="acceptTerms">Acepto los términos y condiciones</label>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-actions">
          <button type="submit" class="submit-button"[disabled]="estaCargando">Registrarse</button>
          <p class="login-link">¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
        </div>

        <div class="card flex justify-center" *ngIf="estaCargando">
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
        </div>


        <div class="card flex flex-wrap gap-4 justify-center" *ngIf="mensajeError">
            <p-message severity="error">{{mensajeError}}</p-message>
        </div>
    
        <div class="card flex flex-wrap gap-4 justify-center" *ngIf="mensajeExito">
            <p-message severity="success">{{mensajeExito}}</p-message>
        </div>


      </form>

      
    



    </div>
  </div>
  